@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap');


body {
    background-color: #131316;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;

}

h1 {
    text-align: center;
    font-weight: bold;
}

a {
    color: #33FF33;
    text-decoration: none;
}

li {
    list-style-type:none;
}

li::before {
    content: "-";

}

.nav-line{
    height: 1px;
    background: white;
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: row; 
    animation-name: show-nav;
    animation-duration: 1s;
}

@keyframes show-nav{
    from {width: 0%;}
    to {width: 50%;}
}

.container {
    color: #33FF33;
    width: 50%;
    height: 50vh;
    margin: 25px auto;
    
}

.hidden{
    display: none;
}

input {
    font-family: 'Poppins', sans-serif;
    font-size: large;
    border: 0;
    background: none;
    outline-width: 0;
    color: white;
}

.unknown-command {
    color: red;
}



